<div class="container">
  <div class="back-site">
    <a href={{returnToSiteUrl}}>Return to site</a>
  </div>

  <header class="container">
    <LinkTo @route="index"><img src={{logoUrl}} class="logo"></LinkTo>
    <h1><LinkTo @route="index">Upgrade</LinkTo></h1>
  </header>

  <div class="container">

    {{#if showBanner}}
      <div id="banner">
        <div id="banner-content">
          <div class="close" {{action "dismiss"}}><i class="fa fa-times" title="Dismiss this banner."></i></div>
          {{#each banner as |row|}}
            <p>{{row}}</p>
          {{/each}}
        </div>
      </div>
    {{/if}}

    <ul class="nav nav-tabs">
      <LinkTo @route="index" @tagName="li" class="nav-item">
        <LinkTo @route="index" class="nav-link">Versions</LinkTo>
      </LinkTo>
      <LinkTo @route="processes" @tagName="li" class="nav-item">
        <LinkTo @route="processes" class="nav-link">Processes</LinkTo>
      </LinkTo>

      <li class="nav-item"><a class="nav-link" href={{backupsUrl}}>Backups</a></li>
    </ul>

    {{outlet}}
  </div>
</div>
