<h3>Upgrade {{this.title}}</h3>

<ProgressBar @percent={{this.percent}} />

{{#if this.complete}}
  <p>Upgrade completed successfully!</p>
{{/if}}

{{#if this.failed}}
  <p>Sorry, there was an error upgrading Discourse. Please check the logs below.</p>
{{/if}}

{{#if this.isUpToDate}}
  {{#if this.multiUpgrade}}
    <p>Everything is up-to-date.</p>
  {{else}}
    <p>{{this.title}} is at the newest version.</p>
  {{/if}}
{{else}}
  <div style="clear: both">
    <button type="button" {{on "click" this.start}} disabled={{this.upgrading}} class="btn">
      {{this.upgradeButtonText}}
    </button>

    {{#if this.upgrading}}
      <button type="button" {{on "click" this.resetUpgrade}} class="btn unlock">
        Reset Upgrade
      </button>
    {{/if}}
  </div>
{{/if}}

<XConsole @output={{this.output}} @followOutput={{true}} />
